* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: cadetblue;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 70px;
  color: rgb(95, 95, 95);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .clock {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(94, 94, 94);
  border-radius: 4px;
  text-align: center;
}
.buttons {
  background-color: rgba(34, 34, 34, 0.822);
  border: 2px solid rgb(102, 102, 102);
  border-radius: 4px;
  padding: 0.5rem;
  text-align: center;
}

.btnStart, .btnStop, .btnReset {
  padding: 4px;
  border: 2px solid rgb(94, 94, 94);
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
} */


@media (max-width: 790px) {
  body {
    font-size: 35px;
  }
} ;
